<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NovaInventory.Properties.Settings.ConnectionString"
            connectionString="Dsn=db_novainventory_25" providerName="System.Data.Odbc" />
        <add name="NovaInventory.Properties.Settings.ConnectionString1"
            connectionString="Dsn=Db_nova" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>